:root {
    --white-color: #FFFFFF;
    --border-color: #D1D5DB;
    --select-color: #111827;
    --button-color: #374151;
    --body-background: #1C1C1C;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
}

body,
select,
button {
    font-family: "Inter", sans-serif;
}

.color-picker,
.color-modes,
.get-color-btn,
.color-container {
    cursor: pointer;
}

.color,
.tooltiptext,
.hex-label {
    pointer-events: none;
}

.get-color-btn:hover,
.get-color-btn:focus,
.color-modes:hover,
.color-modes:focus,
.color-picker:hover,
.color-picker:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Typography styling - Start */

.get-color-btn,
.hex-label {
    font-size: 0.75rem;
    font-weight: 500;
}

/* Typography styling - End */

/* Container styling - Start */

.container {
    max-width: 550px;
    margin: 0 auto;
    background-color: var(--white-color);
    padding-top: 1px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin: 1em;
}

.color-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: relative;
}

/* Container styling - End */

/* Header styling - Start */

.color-picker {
    border: 0.5px solid var(--border-color);
    height: inherit;
}

.color-modes {
    text-transform: capitalize;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 1em;
    width: 60%;
    border: 1px solid var(--border-color);
    color: var(--select-color);
    background-color: var(--white-color);
    background-image: url('./images/angle-down-solid.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 10px top 50%, 0 0;
    background-size: 1em;
}

.get-color-btn {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    color: var(--button-color);
    border-radius: 4px;
    padding: 1em;
}

/* Header styling - End */

/* Color pallette - Start */

.color-pallete {
    display: flex;
    width: 100%;
    height: 400px;
}

.color {
    height: 90%;
}

.color-container:hover,
.color-container:focus {
    transform: scale(1.05);
    transition: 250ms;
}

.hex-label {
    margin: auto auto;
}

/* Color pallette - End */

/* Tooltip styles - Start */

.tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.color-container:hover .tooltiptext,
.color-container:focus .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Tooltip styles - End */